/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2023, 2:32:26 PM
    Author     : Minh
*/


.bg{
    background-color: $green-primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &.check{
        border-radius: 100% !important;
    }
    
    .btn-styled{
         @include button;
    }
}